<div class="container my-5 pb-5">
    <div class="row pt-5">
        <div class="col-12">
            <h1 class="mb-4">Política de Cookies</h1>
            <div class="card shadow-sm border-0">
                <div class="card-body p-4 p-md-5">
                    <h5 class="mt-1">¿Qué son las cookies?</h5>
                    <p>
                        Las cookies son pequeños archivos de texto que se instalan en tu navegador cuando visitas
                        nuestro sitio web.
                        Su objetivo principal es almacenar datos de tu visita para mejorar la experiencia de uso en
                        próximas ocasiones.
                    </p>

                    <h5 class="mt-4">¿Qué cookies utiliza tu web?</h5>
                    <ul>
                        <li><strong>Cookies técnicas (Obligatorias):</strong> Permiten la navegación básica en la web y
                            el uso de servicios como el gestor de consentimientos de cookies (guardamos tu preferencia).
                        </li>
                        <li><strong>Cookies analíticas:</strong> Aquellas que, bien tratadas por nosotros o por
                            terceros, nos permiten cuantificar el número de usuarios y realizar el análisis estadístico
                            de la utilización.</li>
                    </ul>

                    <h5 class="mt-4">Duración y Origen</h5>
                    <ul>
                        <li><strong>Cookies de sesión:</strong> Solo duran lo que dura tu visita y se eliminan al cerrar
                            el navegador.</li>
                        <li><strong>Cookies persistentes:</strong> Se guardan en tu dispositivo durante un periodo
                            definido (pueden ser minutos, días o años).</li>
                        <li><strong>Propias o de terceros:</strong> Usamos cookies propias para tu preferencia del
                            banner, y de terceros en caso de usar analíticas (como Google Analytics).</li>
                    </ul>

                    <h5 class="mt-4">Cómo desactivarlas y cambiar tu consentimiento</h5>
                    <p>
                        Puedes cambiar tu declaración u oponerte a todas o algunas de las cookies abriendo nuestro panel
                        de configuración aquí:
                        <br><br>
                        <button class="btn btn-primary" routerLink="/configurar-cookies">Configurar Cookies</button>
                    </p>
                    <p class="mt-3">
                        También puedes restringir, bloquear o borrar las cookies configurando tu navegador (Chrome,
                        Firefox, Safari, Edge...).
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>